target/
runutils.bat
!.mvn/wrapper/maven-wrapper.jar
materialdesign/
node_modules/
compiledsources/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.mvn/
mvnw
mvnw.cmd