.loginCard {
    justify-content: center;
    text-align: center;
}

.loginCard > h4 {
    padding-top: 10px;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tab-content {
    padding-top: 50px;
}
